/* RESET GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* HEADER */

header{
    background-color: #6f4e37;
    color: white;
    text-align: center;
    padding: 30px;
}

/* NAV */

nav{
    background-color: #3e2723;
    padding: 15px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content:flex-start;
    gap: 20px;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    color: #ffc107;
}

/* SECTION */

section{
    padding: 30px;
}

/* CSS GRID */

.contenedor-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

/* TARJETAS */

.libro{
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* IMÁGENES */

img{
    width: 100%;
    border-radius: 10px;
}

/* BOTONES */

button{
    margin-top: 15px;
    background-color: #198754;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #146c43;
}

/* FORMULARIOS */

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input{
    padding: 12px;
    border: 1px solid #999;
    border-radius: 5px;
}

/* FOOTER */

footer{
    background-color: #3e2723;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

/* RESPONSIVE */

@media(max-width:768px){

    .contenedor-grid{
        grid-template-columns: 1fr;
    }

    nav ul{
        flex-direction: column;
        align-items: center;
    }

}
